
.r{
    display: flex;
    justify-content: space-around;
}
.b{
        text-align: center;
}
.q{
    width: 300px;
    height: 300px  ;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 30px ;
}
.n{
text-align: center;
align-items: end;
}
.z{
  width: 300px;
  height: 300px;
  background-color: red;
  display: flex;
  
  justify-content: space-evenly;
  align-items:center ;
  margin: right 100px; 
}

.ota2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.uu{
    text-align: center;
}
.ss{
    display: flex;
    justify-content: space-around;
}
